# Snakemake
.snakemake/

# Python
__pycache__/
*.py[cod]

# Pipeline outputs
/results/
/reports/
/logs/
/resources/pombase_data/
# Ignore all sub-sub-folders under projects, except their config folders
projects/*/*/
!projects/*/*/config/
.vscode
